$rk-fonts-body: SFRounded, ui-rounded, "SF Pro Rounded", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$fg1:rgb(149, 150, 152);
$lemon:rgb(19, 241, 149);
$layout-breakpoint-small:350px;
$layout-breakpoint-medium:800px;
//css for textbox
.wallets{
    display: flex;
    flex-direction: column;
    gap: 1em;
    //align-items: center;
   // justify-self:  self-start;
   padding: 1em;
}
.wallets>.wallet-header{
    padding: 1em 1em .2em 1em;
}
.wallet-header>.header-logo{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    @media (max-width: $layout-breakpoint-medium) {
     
          }
          
          @media (max-width: $layout-breakpoint-small) {
            justify-content: center;
            align-items: flex-end;
          }
    >img{

    }
    >h1{
        color: #fff;
        font-size: 3em;
        margin: 0;
    }
}
.search-wallet{
    padding: 1em 3em 1em 3em;
    @media (max-width: $layout-breakpoint-medium) {
     
        padding: 1em 2em 1em 2em;
          }
          
          @media (max-width: $layout-breakpoint-small) {
           
            padding: 1em;
          }
}
.search-wallet> div{
display: grid;
grid-template-columns: 5%80%15%;
font-size: 2.5em;
color: $fg1;
background-color: #171f2e;
padding-top: 1em;
padding: .5em;
border-radius: 1em;
box-shadow: rgba(42, 48, 71, 0.24) 0px 3px 8px;
transition: all 500ms;
@media (max-width: $layout-breakpoint-medium) {
     
font-size: 2em;
  }
  
  @media (max-width: $layout-breakpoint-small) {
    grid-template-columns: 10%80%10%;
    font-size: 1.5em;
  }
}
.search-wallet> div:hover, .search-wallet> div:hover *{
    background-color: #212b3d;
    
}
.search-wallet>div:hover{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.search-wallet> div>span{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 1em;
    transition: all 500ms;
}

.search-wallet> div>input{
    background-color: #171f2e;
    border: 0;
    outline: 0;
    color: $fg1;
    font-size: 1em;
    transition: all 500ms;
}

.search-wallet> div>button{
    background-color: #171f2e;
    color: $fg1;
    border: 0;
    outline: 0;
    font-size: 1em;
    transition: all 500ms;
}
.wallet{

    padding: 1em;
    background-color: purple;
}
////css for textbox
.wallet-display{
    padding: 3em;
    @media (max-width: 1100px) {
        
        padding: .8em;
      }
      
      @media (max-width: $layout-breakpoint-small) {
      
        padding: .5em;
      }
}
.wallet-grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background-color: #171f2e;
    padding: 2em;
    border-radius: 2em;

    
    @media (max-width: 1100px) {
        grid-template-columns: repeat(3,1fr);
        padding: 1em;
      }
      
      @media (max-width: $layout-breakpoint-small) {
        grid-template-columns: repeat(3,1fr);
        padding: .5em;
      }

}
.wallet-item{
    display: flex;
    flex-direction: column;
    gap: .5em;
    border-radius: .5em;
    justify-content: center;
    align-items: center;
    color: $fg1;
    cursor: pointer;
    padding: 1em;
}

.wallet-item>img{
width: 70%;
border-radius: 50%;
@media (max-width: 1100px) {
    width: 50%;
}
  
  @media (max-width: $layout-breakpoint-small) {
    width: 50%;
  }
}
.wallet-item:hover >img{
    
    
 
    box-shadow:
      inset 0 0 50px #171f2e,
      inset 20px 0 80px #171f2e,
      inset -20px 0 80px #171f2e,
      inset 20px 0 300px #171f2e,
      inset -20px 0 300px #171f2e,
      0 0 50px #211f1f,
      -10px 0 80px rgb(0, 0, 0),
      10px 0 80px #171f2e,
    }
    .wallet-item>span{
        font-size: 1.5em;
        text-align: center;
        @media (max-width: 1100px) {
            font-size: 1.2em;
          }
          
          @media (max-width: $layout-breakpoint-small) {
            font-size: 1em;
          }
    }
